* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    /* opacity: 0.7; */
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    padding: 8px 18px;
}

.header-action__btn {
    --height: 50px;

    width: 117px;
    height: var(--height);
    color: #000958;
    font-size: 14px;
    font-weight: 600;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;

    z-index: 1;
}

.hero__decor {
    position: absolute;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #f7dddf;
    margin: 0 0 -58px -24px;
}

.hero__list {
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    position: absolute;
    left: 129px;
    bottom: 0;
    z-index: 1;
}

.hero__list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero__list-item {
    display: flex;
}

.hero__list-item__info {
    margin-left: 10px;
}

.hero__list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
}
.hero__list-item__skeleton {
    margin-top: 7px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    margin: 23px 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

.hero__list-item:last-child .hero__list-item__thumb {
    background: #c6e2fa;
}

.hero__content {
    margin-left: 120px;
}

.hero__heading {
    width: 517px;
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 76px; /* 115.152% */
}

.hero__desc {
    margin-top: 24px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    line-height: 30px; /* 187.5% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 190px;
    height: var(--height);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}
.hero__desc {
    width: 391px;
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}

/* Ablout */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 145px;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
}
.about__heading,
.about__desc {
    width: 444px;
}

.about__heading {
    margin-top: 15px;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
}

.about__desc {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.about__check-list {
    margin-top: 54px;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: auto auto;
    gap: 34px;
}

.about__check-item {
    display: flex;
    align-items: center;
    position: relative;
    color: #48496a;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
}
.about__check-item::after {
    content: url(../icon/check.svg);
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
    margin-right: 10px;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    text-align: center;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    padding: 30px 26px;
}

.about__card-title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
}

.about__card-desc {
    color: #c6f4f9;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.about__card-decor {
    position: absolute;
    top: -40px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}
.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    margin-left: 0;
}
.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__decor-img:nth-child(3) {
    top: 25px;
    right: -28px;
}
.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}
.about__decor-img:nth-child(6) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.07;
}
.tab__item--active::after {
    width: 95px;
    opacity: 1;
    background: #ff5b2e;
}

.tab__icon {
    width: 20px;
}

.tab__item {
    position: relative;
    display: flex;
    column-gap: 12px;
    padding-bottom: 14px;
    cursor: pointer;
}

.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
}

.tab__contents {
    padding: 36px 0;
}

.tab__content-desc {
    color: #656689;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 32px;
    width: 391px;
}

.tab__content-more {
    position: relative;
    color: #ff5d31;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 5px;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}
.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.service {
    margin-top: 190px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top,
.staff__top {
    text-align: center;
}

.service__desc,
.staff__desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.service__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
}

.service-item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 22px;
}

.service-item__heading {
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    position: relative;
    padding-left: 12px;
}

.service-item__heading::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 2px;
    display: inline-block;
    border-radius: 1px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 18px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
}

.service-item__more::after {
    content: url(../icon//arrow-up-right.svg);
    margin-left: 5px;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service__img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 1;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    width: 214px;
}

/* Staff */

.staff {
    padding: 130px 0;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}
.staff-item {
    text-align: center;
}

.staff-item__img {
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    border-radius: 129.5px;
}

.staff__img-wrap {
    margin: 0 16px;
    border-radius: 129.5px;
    position: relative;
}

.staff__img-wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 94%;
    background: #90ccff;
    border-radius: inherit;
    bottom: 0;
    left: 0;
}
.staff__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(100% + 36px);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.staff-item:nth-child(1) .staff__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(2) .staff__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(3) .staff__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:nth-child(4) .staff__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__cta {
    min-width: 193px;
    color: #ff5b2e;
    border: 1px solid #ff5b2e;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__top {
    text-align: center;
}

.pricing__desc {
    display: inline-block;
    width: 709px;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    user-select: none;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 146px;
    height: 100%;
    background: #ff5b2e;
    border-radius: inherit;
}

.pring__switch-value {
    color: #fff;
    position: relative;
    z-index: 1;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pring__switch-value:nth-of-type(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pring__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing-sale-off {
    position: absolute;
    top: -10px;
    right: -102px;
}
